<improved_hordes>
	<max_alive_per_horde_player>10</max_alive_per_horde_player> <!-- -1 to disable. -->
	
	<wandering_horde>
		<enabled>true</enabled>
		<horde_player_group_dist>400</horde_player_group_dist> <!-- All players within 400m will be grouped together to calculate spawned horde gamestages. -->

		<schedule>
			<days_per_wandering_week>7</days_per_wandering_week>
		
			<hrs_in_week_to_first_occurrence>0</hrs_in_week_to_first_occurrence>
			<hrs_in_week_for_last_occurrence_max>156</hrs_in_week_for_last_occurrence_max> <!-- 6 * 24 + 12 or Day 7 12:00 pm -->
			<min_hrs_between_occurrences>6</min_hrs_between_occurrences>

			<min_occurrences>6</min_occurrences>
			<max_occurrences>8</max_occurrences>	
			
			<feral_horde_chance>0.5</feral_horde_chance> <!-- 0.5 means 50% chance, range from 0.0 to 1.0 -->
		</schedule>
	</wandering_horde>
	<scout_horde>
		<enabled>true</enabled> <!-- Enable Improved Hordes scout hordes. If disabled, uses default vanilla scout hordes instead. -->
		<chunk_radius>4</chunk_radius> <!-- Notify scouts near these certain chunks, and group players for difficulty by distance using chunk_radius * 16 (chunk size) -->
		<max_scout_hordes_active_per_player_group>3</max_scout_hordes_active_per_player_group> <!-- Scouts can call up to 3 hordes maximum at a location at a time. -->
	</scout_horde>
	<horde_generator>
		<horde_per_player>false</horde_per_player> <!-- Set to true to enable. Multiplies the total horde entity count by the number of players in your group. -->
	</horde_generator>
	<heat_tracker>
		<enabled>true</enabled>
		<radius>3</radius> <!-- Radius of area that maximum heat is applied to. Also groups players in this squared radius for patrol horde difficulty. -->
		<hrs_before_full>168</hrs_before_full> <!-- Hours before the heatmap fills up by remaining in one area for a long time. -->
		<hrs_before_decay>24</hrs_before_decay> <!-- Hours before the heatmap can start to decay. Timer is reset if the area is revisited within the same day. -->
		<hrs_to_fully_decay>96</hrs_to_fully_decay> <!-- Hours before the heatmap can fully decay. This amount of time scales depending on the amount of heat in an area. -->
		<event_multiplier>0.01</event_multiplier> <!-- Multiplier to multiply standard heatmap activities by. -->
	</heat_tracker>
	<horde_ai>
		<sense_dist>80</sense_dist> <!-- The distance in m at which hordes can sense players nearby. -->
		<threshold>20</threshold> <!-- The threshold before players nearby are sensed. -->
		
		<advanced_settings>
			<wander_time>90</wander_time> <!--  The number of ticks that horde entities will wander before moving on. -->
		</advanced_settings>
	</horde_ai>
</improved_hordes>