<!-- Settings for Improved Hordes. -->
<improved_hordes>
	<!-- Entity Spawn Limit -->
	<max_entities_spawned_per_player>16</max_entities_spawned_per_player> <!-- -1 to disable. Note: This is still limited by the game's MaxEnemyCount and MaxAnimalCount settings. -->

	<!-- Threading -->
	<max_horde_threads>4</max_horde_threads> <!-- Number of threads to use for Horde updates. -->
	<max_cluster_threads>2</max_cluster_threads> <!-- Number of threads to use for loaded Horde Cluster updates. -->
	
	<!-- World Spawn Limits -->
	<max_horde_density>2.0</max_horde_density> <!-- Max Horde Density per Horde. -->
	<max_world_density>500.0</max_world_density> <!-- Max World Horde Density. -->
	
	<!-- Horde Merge Distances -->
	<loaded_merge_distance>10</loaded_merge_distance>
	<unloaded_merge_distance>100</unloaded_merge_distance>
</improved_hordes>